<html>

<style>
body {
  background-color: lightblue;
}
p {
  font-family: verdana;
  font-size: 15px;
}
</style>

<p>Entered URL : <b> <input size="50" type=“text” value=<%- urll %>> </b> </p>

<p>New URL : <input size="50" type=“text” value=<%= uri %>></b> </p>

</html>

